@import "./base.css";

.speakers .main__title {
  font-size: 64px;
}

.shopping-cart-icon--primary g path {
  fill: var(--color-primary);
}

.speaker__photo {
  width: 310px;
  height: 310px;
  object-fit: cover;
}

.speaker__photo--top {
  object-position: top;
}

.speaker__name {
  font-size: 32px;
}

.speaker__company {
  font-size: 24px;
}

.speaker__bio {
  font-size: 20px;
}

.speaker__company,
.speaker__bio {
  color: var(--color-text-on-secondary);
}
